

<nav class="navbar navbar-dark bg-dark">


 <a class="navbar-brand" href="#">Vesahi</a>
  <a class="navbar-brand" href="http://localhost:4200/Development_Team_list">Development Team</a>
  <a class="navbar-brand" href="http://localhost:4200/Marketing_Team_list">Marketing Team</a>
  <a class="navbar-brand" href="http://localhost:4200/Production_Team_list">Production Team</a>
  <a class="navbar-brand" href="http://localhost:4200/login">Login</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div align="center">
<h1><strong>Vesahi</strong></h1>
</div>
<router-outlet></router-outlet>

