
          <h1 align="center">Create Your Production Team Member Here</h1>

<div align="center">
<form (ngSubmit)="add()" [formGroup]="production_teamForm">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="Name">
      <mat-error *ngIf="production_teamForm.get('Name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" formControlName="Description">
      <mat-error *ngIf="production_teamForm.get('Description').hasError('required')">
        Member Description <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-ripple mat-raised-button type="submit" color="primary">Submit</button>
</form>
</div>


          <button mat-ripple mat-raised-button type="submit" [routerLink]="['/Production_Team_list']" color="primary">Production Team List</button>


